.divider {
    margin-top: 10px;
    border: 1px solid #EDEDED;
}

.rowFormat {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    padding-bottom: 25px;
}

.fieldFormat {
    margin-top: -7px;
}

.modal-dialog{
    width: 50%;
}

.modal-content {

    border: 2px solid #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.06em;
}

.green {
    background-color: green;
    color: white;
    padding: 7px 7px;
    border-radius: 3px;
}

.red {
    background-color: red;
    color: white;
    padding: 7px 7px;
    border-radius: 3px;

}

.grey {
    background-color: grey;
    color: white;
    padding: 7px 7px;
    border-radius: 3px;

}

#upload-box {
    box-sizing: border-box;
    background: #eee;
    border: 6px dashed grey;
    border-radius: 8px;
    font-size: 20px;
    height: 240px;
    text-align: center;
}

#progress {
    color: grey;
    width: 70%;
    height: 20%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#list {
    overflow: auto;
    background: #222;
    height: 240px;
    color: white;
}

#video {
    height: 240px;
}

.videocontent {
    width:100%;
    max-width: 640px;
    margin: 0 auto;
}

.vjs-default-skin .vjs-big-play-button {
    left: 32.5%;
    top: 32.5%;
    width: 35%;
    height: 35%;
}
